$day-size: 100px;
$gap: 1px;
$padding: 10px;
$columns: 7;
$calendar-width: (7 * 100px) + (6 * 1px) + (2 * 10px);
$days-map: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);

body {
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: $calendar-width;
  padding: $padding;

  &__day {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $day-size;
    height: $day-size;
    border: 1px solid #000;
    background-color: #eee;
    transition:
      background-color 0.5s,
      transform 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }

    &::before {
      font-family: Arial, sans-serif;
      font-size: 30px;
    }
  }

  @for $day from 1 through 31 {
    &__day:nth-child(#{$day})::before {
      content: '#{$day}';
    }
  }

  @each $day-name, $offset in $days-map {
    &--start-day-#{$day-name} &__day:first-child {
      margin-left: ($day-size + $gap) * $offset;
    }
  }

  @for $length from 28 through 31 {
    &--month-length-#{$length} &__day:nth-child(n + #{$length + 1}) {
      display: none;
    }
  }
}
